<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donor Register</title>
    <link rel="stylesheet" href="../static/css/loginstyle.css">
</head>
<body style="    background-color: #06C167;">
    <div class="container">
        <div class="regformf" >
    <form action="./register_donor" method="post">
        <p class="logo"><b style="color: #06C167; ">Donor Login</b></p>
        
       <div class="input">
        <label for="Username"  >User Name :</label>
        <input type="text" id="Username" name="username" required/>
        </div>        
        <br>

        <div class="input">
            <label for="email"  >Email id :</label>
            <input type="email" id="email" name="email" required/>
            </div>
        <br>
        
        <div class="input">
        <label for="password">Password :</label>
        <input type="password" id="password" name="password" required/>
        </div>            
      
        <div class="btn">
            <button type="submit" name="submit"> Submit</button>
     
        </div>
     </form>
     </div>
   </div>   
    
</body>
</html>